.page-header
  %h1 Listing Invoices

%table.table
  %tr
    %th Short desc
    %th Desc
    %th Invoice date
    %th Due date
    %th Paid date
    %th Discount
    %th Term
    %th Customer
    %th
    %th
    %th

  - @invoices.each do |invoice|
    %tr
      %td= invoice.short_desc
      %td= invoice.desc
      %td= invoice.invoice_date
      %td= invoice.due_date
      %td= invoice.paid_date
      %td= invoice.discount
      %td= invoice.term
      %td= invoice.customer_id
      %td= link_to 'Show', invoice
      %td= link_to 'Edit', edit_invoice_path(invoice)
      %td= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }

%br

.btn= link_to 'New Invoice', new_invoice_path
